.ipynb_checkpoints/Floquet-checkpoint.ipynb
.ipynb_checkpoints/Fractional Integral Equations-checkpoint.ipynb
.ipynb_checkpoints/Manipulate ODEs and PDEs-checkpoint.ipynb
.ipynb_checkpoints/Periodic PDEs-checkpoint.ipynb
.ipynb_checkpoints/Rectangle PDEs-checkpoint.ipynb
.ipynb_checkpoints/Sampling-checkpoint.ipynb
.DS_Store
